* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin: 1.2rem 0 0.8rem;
    padding-top: 1rem;
    border-top: 2px dotted gray;
}
hr {
    border-top: 2px dotted gray;
    margin-bottom: 1.2rem;
}